<h1>Listado de Proyectos</h1>
<table>
  <tr>
    <thead>
      <th>Id</th>
      <th>Nombre del Proyecto</th>
      <th>Skills</th>
    </thead>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>